<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Cookie</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full h-screen bg-zinc-900">
      <div class="p-10">
        <form action="/create" method="post">
         <input type="text" placeholder="Name" name="name" class="text-white p-2 border bg-transparent outline-none ">
         <input type="email" placeholder="Email" name="email" class="text-white p-2 border bg-transparent outline-none ">
         <input type="password" placeholder="Password" name="password" class="text-white  p-2 border bg-transparent outline-none ">
         <input type="number" placeholder="age" name="age" class="text-white outline-none   p-2 border bg-transparent ">
         <input type="submit" value="submit"  class="text-white rounded-md border-0 p-2 border bg-sky-500 ">
        </form>
      </div>
   </div>
</body>
</html>